<h1>New subtraction</h1>

<form action="/subtract/results">
  <div>
    <label for="1st_subtract_input">
      Subtract this:
    </label>
    <input
      id="1st_subtract_input"
      type="text"
      name="user_subtract1"
    >
  </div>

  <div>
    <label for="2nd_subtract_input">
      from this:
    </label>
    <input
      id="2nd_subtract_input"
      type="text"
      name="user_subtract2"

    >
  </div>

  <button type="submit">
    Subtract!
  </button>
</form>
