<h1>New division</h1>

<form action="/divide/results">
  <div>
    <label for="1st_divide_input">
      Divide this:
    </label>
    <input
      id="1st_divide_input"
      type="text"
      name="user_divide1"
    >
  </div>

  <div>
    <label for="2nd_divide_input">
      by this:
    </label>
    <input
      id="2nd_divide_input"
      type="text"
      name="user_divide2"

    >
  </div>

  <button type="submit">
    Divide!
  </button>
</form>
