<h1>New addition</h1>

<form action="/add/results">
  <div>
    <label for="1st_add_input">
      Add this:
    </label>
    <input
      id="1st_add_input"
      type="text"
      name="user_add1"
    >
  </div>

  <div>
    <label for="2nd_add_input">
      to this:
    </label>
    <input
      id="2nd_add_input"
      type="text"
      name="user_add2"

    >
  </div>

  <button type="submit">
    Add!
  </button>
</form>
