<h1>New multiplication</h1>

<form action="/multiply/results">
  <div>
    <label for="1st_multiply_input">
      Multiply this:
    </label>
    <input
      id="1st_multiply_input"
      type="text"
      name="user_multiply1"
    >
  </div>

  <div>
    <label for="2nd_multiply_input">
      by this:
    </label>
    <input
      id="2nd_multiply_input"
      type="text"
      name="user_multiply2"

    >
  </div>

  <button type="submit">
    Multiply!
  </button>
</form>
